<div style="width: 100%; padding-top: 36px; padding-bottom: 36px; display: flex">
    <div style="width: 60%">
        <img
            src="https://markets-rails.s3.amazonaws.com/cache/f057cd35d57a155b57146d349de041f1.gif"
            style="border-radius: 5px; width: 100%; height: auto"
        />
    </div>
    <div style="width: 40%; padding-left: 24px">
        <div style="color: #ffffff; font-weight: bold; font-size: 16px">Left Card</div>
        <div style="color: #cccccc">
            Pellentesque ut lectus ut massa rutrum congue id ac justo. Ut non felis molestie, finibus diam non, rhoncus
            enim. Phasellus vel blandit massa, non varius urna. Curabitur at blandit orci. Morbi a elementum magna quis
            justo rutrum.
        </div>
    </div>
</div>
