<div style="width: 100%; padding-top: 36px; padding-bottom: 36px; display: flex">
    <div style="width: 40%; padding-right: 24px">
        <div style="color: #ffffff; font-weight: bold; font-size: 16px">Right Card</div>
        <div style="color: #cccccc">
            Praesent lectus ante, luctus sit amet suscipit vel, pellentesque id felis. Vivamus convallis, nunc at luctus
            volutpat, ligula mauris sollicitudin quam, posuere pulvinar lacus diam et purus. Donec a ex consectetur,
            luctus felis.
        </div>
    </div>
    <div style="width: 60%">
        <img
            src="https://markets-rails.s3.amazonaws.com/cache/858a09616974728ef7b16f31ccb1fe57.gif"
            style="border-radius: 5px; width: 100%; height: auto"
        />
    </div>
</div>
